extends layout

block main
  form(action="/demo/new" method="post")
    dl
      dt
        label(for="username") Username:
      dd
        input(type="text" name="username" placeholder="username")

      dt
        label(for="password") Password:
      dd
        input(type="password" name="password" placeholder="password")

    fieldset.actions
      input(type="submit" value="Create user")
