extends layout

block main
  p New user? Create a username 
    a(href="/demo/new") here
  br
  p - or log in with username: "admin" and password: "testpassword" to try out a demo. 
  
  form(action=`/demo/validate` method="post")
    dl
      dt
        label(for="username") Username:
      dd
        input(type="text" name="username" placeholder="username" value=username)

      dt
        label(for="password") Password:
      dd
        input(type="password" name="password" placeholder="password")

    fieldset.actions
      input(type="submit" value="Sign In")
