extends layout

block main
  h2 LLtracker
  
  p LLtracker is an Android location sharing app. It uploads a user's latitude, longitude, and timestamp to a web server at a selected time interval. That data is then accessible online with their username. 
  
  ul  
    li 
      h3 Share your location with the Android app
        a(href="#")  (download it here)
          
    li
      h3 Try out a demo/website version
        a(href="/demo/start")  (here)
        
    li
      h3 Find a user's location data
        a(href="/home")  (here)
  
