extends layout

block main
  h2 LLtracker
  
  p LLtracker is an Android location sharing app. It uploads a user's latitude, longitude, and timestamp to a web server at a selected time interval. Others can then follow their location by username online. 
  
  ul  
    li 
      h3 Share your location with the Android app
        a(href="https://github.com/davidsmcdonald/lltracker_app")  (more info/downlownload at github)
          
    li
      h3 Try out a demo/web-based version
        a(href="/demo/start")  (here)
        
    li
      h3 Find a user's location data
        a(href="/home")  (here)
          
  br
  
  p LLTracker is a Android/Web application for public location sharing. I wanted to try out my general programming knowledge in an unfamiliar format (Android, in this case) with an unfamiliar language (kotlin) and get them working with a simple web application.
  
