body {
  background-image: url(../images/topobg.jpg);
  color: #3f3f3f;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 16px;
}

h1 {
  font: 2rem/2 monospace;
}

h2 {
  font: 1.5rem/1.5 monospace;
}

ul h3 {
  margin-top: 20px;
}

main,
footer {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
}

main > form,
footer > form {
  margin-top: 1.5rem;
}

form dt {
  font: 1.2rem/1.5 monospace;
  margin-left: 15px;
  padding: 0 0 10px 0;
}

form dd {
  padding: 0 0 15px 0;
}

form input[type="text"],
form input[type="password"]
 {
  border: 1px solid #a4a4a4;
  border-radius: 4px;
  box-sizing: border-box;
  font: normal 18px Walfork,Walsheim,Helvetica Neue,Helvetica,Arial,sans-serif;
  height: 50px;
  padding: 10px 20px;
  width: 100%;
}

form input[type="text"],
form input[type="password"]:focus
 {
   outline-color: #cbcaed;
}

form textarea {
  border: 1px solid #a4a4a4;
  border-radius: 4px;
  box-sizing: border-box;
  font: normal 18px Walfork,Walsheim,Helvetica Neue,Helvetica,Arial,sans-serif;
  padding: 10px 20px;
  width: 100%;
}

form input[type="submit"],
form fieldset button {
  -moz-appearance: none;
  -webkit-appearance: none;

  background-color: #ecedca;
  border: none;
  border-radius: 4px;
  color: #1a1a1a;
  font: normal 20px Walfork,Walsheim,Helvetica Neue,Helvetica,Arial,sans-serif;
  margin: 0 40px 0 0;
  padding: 12px 45px;

  -moz-transition: background-color 200ms ease;
  -o-transition: background-color 200ms ease;
  -webkit-transition: background-color 200ms ease;
}

form input[type="submit"]:hover {
  background-color: #cbcaed;
  cursor: pointer;
}

form fieldset.actions a:hover {
  color: #db278a;
}

a {
  color: inherit;
  text-decoration: none;
  font-style: italic;
}
header {
  background: #ecedca;
  color: #1a1a1a;
  padding: 25px;
  display: block;
}

header a {
  margin-left: 15px;
  font-style: italic;
}

header a:hover {
  color: #cbcaed;
}

.actions {
  padding: 20px 80px;
}

.signout {
  padding-left: 80px;
}

.add {
  font-style: italic;
  font-size: 24px;
  line-height: 40px;
  font-weight: bolder;
}

a:hover {
  color: #db278a;
}

.flash {
  background-color: #cbe5f2;
  color: #3399cc;
  margin: 20px 0 1.5rem;
  max-width: 1000px;
  padding: 10px 20px;
}

.flash p {
  font-size: 14px;
  font-weight: bold;
}

.flash.error {
  background-color: #ffcfbf;
  color: #ff6633;
}

.flash.success {
  background-color: #cbf2e5;
  color: #33cc99;
}
